.card-wrapper {
  background-color: #feff86;
  width: 18%;
  display: flex;
  flex-direction: column;
}
.card-wrapper img {
  margin: 0 auto;
}

.title,
.email {
  text-align: center;
}
.title {
  margin: 10px;
}
.email {
}
